{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/users_app.css' %}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light navbar-expand-sm border-bottom p-3 px-md-5 py-md-2">
        <a class="navbar-brand" href="/"><strong>Carsharing</strong></a>
        <ul class="navbar-nav ml-auto text-muted ">
            <li class="nav-item"><i class="fas fa-lock"></i><small class="pl-2 font-weight-normal">SSL Secure</small></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="login-wrapper mx-auto mt-sm-5 pt-4  p-sm-4">
        <div class="text-center font-weight-light">
            {% block form-title %}{% endblock %}
        </div>
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% for error in field.errors %}
                        <small><strong>{{ field.name }}</strong> - {{ error|escape }}</small><br>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <small>{{ error|escape }}</small><br>
                {% endfor %}
            </div>
        {% endif %}
        {% block form-body %}{% endblock %}
        {% block form-footer %}{% endblock %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/users_app.js' %}"></script>
{% endblock %}