{% extends "users_app/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block form-title %}
    <h4>{% trans 'Sign in' %}</h4>
    <p>{% trans 'Please sign in for secure access to your account' %}.</p>
{% endblock %}

{% block form-body %}
    <form name="form" method="post" action="{% url 'users_app:login' %}" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <input type="email" required id="{{ form.username.id_for_label }}" class="form-control" name="{{ form.username.html_name }}">
                    <label for="{{ form.username.id_for_label }}">{% trans 'Email' %}</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input type="password" required id="{{ form.password.id_for_label }}" class="form-control" name="{{ form.password.html_name }}">
                    <label for="{{ form.password.id_for_label }}">{% trans 'Password' %}</label>
                    <a href="javascript:" id="eye"><i class="far fa-eye"></i></a>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans 'Sign In' %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block form-footer %}
    <div class="font-weight-light py-4">
        <div class="float-left">
            <a href="{% url 'users_app:password_reset' %}">{% trans 'Forgot your password' %}?</a>
        </div>
        <div class="float-right">
            <a href="{% url 'users_app:signup' %}">{% trans 'Sign up' %}</a>
        </div>
    </div>
{% endblock %}