{% extends "users_app/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Set a new password' %}{% endblock %}

{% block form-title %}
    <h5>{% trans 'Enter your new password' %}</h5>
{% endblock %}

{% block form-body %}
    <form class="form" role="form" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <input type="password" required id="{{ form.new_password1.id_for_label }}" class="form-control"
                           name="{{ form.new_password1.html_name }}">
                    <label for="{{ form.new_password1.id_for_label }}">{% trans 'New password' %}</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input type="password" required id="{{ form.new_password2.id_for_label }}" class="form-control"
                           name="{{ form.new_password2.html_name }}">
                    <label for="{{ form.new_password2.id_for_label }}">{% trans 'New password again' %}</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}