{% extends "users_app/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block form-title %}
    <h4>{% trans "Let's find your account" %}</h4>
    <p>{% trans "Enter your email address and we'll send instructions on how to reset your password" %}</p>
{% endblock %}

{% block form-body %}
    <form name="form" action="{% url 'users_app:password_reset' %}" method="post" role="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <input type="email" required id="{{ form.email.id_for_label }}" class="form-control" name="{{ form.email.html_name }}">
                    <label for="{{ form.email.id_for_label }}">{% trans 'Email' %}</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

