{% extends "users_app/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block form-title %}
    <h4>{% trans 'Sign up' %}</h4>
    {% url 'users_app:login' as login_url %}
    {% blocktrans %}
        <p>Create an account or <a href="{{ login_url }}">sign in</a></p>
    {% endblocktrans %}
{% endblock %}

{% block form-body %}
    <form name="form" method="post" action="{% url 'users_app:signup' %}" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 pr-2">
                <div class="form-group">
                    {{ form.first_name }}
                    <label for="{{ form.first_name.id_for_label }}">{% trans 'First name' %}</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    {{ form.email }}
                    <label for="{{ form.email.id_for_label }}">{% trans 'Email' %}</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <select name="{{ form.language.html_name }}"  class="form-control">
                        <option disabled selected>Выберите язык</option>
                        {% for x,y in form.fields.language.choices %}
                            <option value="{{ x }}">{{ y }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    {{ form.password }}
                    <label for="{{ form.password.id_for_label }}">{% trans 'Password' %}</label>
                    <a href="javascript:" id="eye"><i class="far fa-eye"></i></a>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans 'Create my account' %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block form-footer %}
    <div class="text-center font-weight-light py-4">
        <span>{% trans 'You already have an account' %}?</span>
        <a href="{% url 'users_app:login' %}">{% trans 'Sign In' %}</a>
    </div>
{% endblock %}