{% extends "base.html" %}
{% load staticfiles %}

{% block title %}User detail{% endblock %}

{% block content %}
<div class="wrapper mx-auto border">
    <h4 class="text-center pb-3">Информация о пользователе</h4>
    <div class="">
        <strong>E-mail: </strong>
        <span>{{ object.email }}</span>
    </div>
    <div class="">
        <strong>Имя: </strong>
        <span>{{ object.first_name }}</span>
    </div>
    <div class="">
        <strong>Язык: </strong>
        <span>{{ object.language }}</span>
    </div>
    <div class="text-center font-weight-light py-4">
        <div class="float-left">
            <a class="btn btn-primary" href="{% url 'users_app:update_user' %}">Изменить информацию</a>
        </div>
        <div class="float-right">
            <a class="btn btn-primary" href="{% url 'users_app:password_change' %}">Изменить пароль</a>
        </div>
    </div>
</div>
{% endblock %}
