{% extends "base.html" %}
{% load staticfiles %}

{% block title %}User update{% endblock %}

{% block content %}

    <div class="wrapper mx-auto border">
        <h4 class="py-3 text-center">Изменить информацию о пользователе</h4>
        <form action="" method="post">
        {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <small><strong>{{ field.name }}</strong> - {{ error|escape }}</small><br>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <small>{{ error|escape }}</small><br>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                <input type="text" name="{{ form.email.html_name }}" value="{{ form.email.value }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">Имя:</label>
                <input type="text" name="{{ form.first_name.html_name }}" value="{{ form.first_name.value }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="{{ form.language.id_for_label }}">Язык:</label>
                <select name="{{ form.language.html_name }}" class="form-control">
                    {% for x,y in form.fields.language.choices %}
                    <option value="{{ x }}" {% if form.language.value == x %} selected{% endif %}>{{ y }}</option>
                    {% endfor %}
                </select>
            </div>

            <input type="submit" class="btn btn-primary">
        </form>
    </div>

{% endblock %}