/* Main */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
html, body {
    font-family: 'Open Sans', sans-serif;
    color: #3c4251;
}

.wrapper {
    max-width: 600px;
    margin: 60px 0 60px 0;
    padding: 40px;
}

/* Buttons */
.btn:focus {
    box-shadow: none;
}
.btn-primary {
    color: #fff;
    background-color: #00b4c5;
    border-color: #00b4c5;
    width: 100%;
    height: 45px;
}
.btn-primary:hover, .btn-primary:active  {
    background-color: #008e9c;
    border-color: #008e9c;
}
.btn-primary:not(:disabled):not(.disabled):active  {
    background-color: #008e9c;
    border-color: #008e9c;
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}



/* Footer */
.footer {
    background-color: #253149;
    color: #fff;
}
.footer a {
    color: #fff;
}
.footer a:hover {
    color: #00b4c5;
    text-decoration: none;
}

