/* users_app */
.login-wrapper {
    max-width: 400px;
    box-shadow: 1px 1px 5px 2px rgba(216,226,230,.4);
}
.login-wrapper a {
    color: #00d5ca;
}
.login-wrapper a:hover {
    color: #253149;
    text-decoration: none;
}

/* Forms */
.form-group .form-control {
    color: #283147;
    border: 0;
    border-bottom: 2px solid #d8e2e6;
    border-radius: .3rem;
    box-shadow: none;
    height: auto;
    line-height: 1.625rem;
    font-size: .875rem;
    background-color: #f4f9fa;
    padding-top: 1.125rem;
    padding-bottom: .125rem;
}
.form-group {
    position: relative;
}
.form-group label {
    position: absolute;
    left: .75rem;
    top: .75rem;
    z-index: 10;
    transition: left 150ms ease-in-out,top 150ms ease-in-out,font-size 150ms ease-in-out,padding 150ms ease-in-out;
    cursor: text;
    color: #aeb4c2;
    -webkit-user-select: none;
}
.form-group.filled label {
    color: #aeb4c2;
    font-size: 0.7rem;
    top: 0.3rem;
}
.form-group.focused label {
    color: #00b1c2;
    font-size: 0.7rem;
    top: 0.3rem;
    cursor: default;
}
.form-control:focus {
    box-shadow: none;
    border-color: #00b4c5;
}
#eye {
    color: #aeb4c2;
    position: absolute;
    right: 1rem;
    top: .75rem;
}

/* Small devices */
@media (min-width: 320px) and (max-width: 568px){
    .login-wrapper {
        max-width: none;
        box-shadow: none;
    }

}