{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Car add{% endblock %}

{% block content %}

    <div class="container">
        <div class="row py-5 m-5 border">
            <div class="col-6">
                <h5>Машины в системе</h5>
                {% for car in object_list %}
                    <p><strong>{{ car }}</strong></p>
                {% endfor %}
            </div>
            <div class="col-6">
                <h5>Добавить машину в систему</h5>
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                  <input class="btn btn-primary mt-3" type="submit">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
