{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container">
        <div class="row py-5 m-5 border">
            <div class="col-6">
                <h5>Машины пользователя {{ request.user }}</h5>
                {% for car in object_list %}
                    <p><strong>{{ car.car }}</strong></p>
                {% endfor %}
            </div>
            <div class="col-6">
                <h5>Добавить машину пользователю {{ request.user }}</h5>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <select name="{{ form.car.html_name }}" class="form-control">
                            {% for x,y in form.fields.car.choices %}
                                <option value="{{ x }}" {% for car in object_list %}
                                        {% if x == car.car.id %}disabled{% endif %}{% endfor %}>{{ y }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input class="btn btn-primary mt-3" type="submit">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
